<template>
    <div>

    </div>
</template>

<script>
// import ApiService from '@/services/api/ApiService';

export default {
    name: 'HeroesList',
    data() {
        return {
            file: null,
        }
    },
    methods: {
        // processFile() {
        //     console.log('process file');
        //     this.file = this.$refs.file.files[0];
        //     console.log('file', this.file);
        //     const formData = new FormData();
        //     formData.append('file', this.file);
        //     ApiService('http://localhost:3000').uploadImage(formData).then(response => console.log(response));
        // }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="css">
@import '../assets/index.css';


</style>
