<template>
    <div>
        <div class="hero-list" v-if="heroes.length">
            <div class="card placeholder" v-if="pickOnly === false && sessionId" @click="select(null)">
                <div>
                    <span class="material-icons-outlined">control_point</span>
                </div>
            </div>
            <div class="card" v-for="hero in heroes" @click="select(hero)">
                <img :src="buildImageSource(hero.image_path)"/>
                <span>{{ hero.name }}</span>
            </div>
        </div>
    </div>
</template>

<script>
// import ImageUploadForm from '@/components/ImageUploadForm.vue'
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'HeroList',
    components: {

    },
    props: ['pickOnly'],
    data() {
        return {

        }
    },
    computed: {
        ...mapGetters([
            'isProduction',
            'heroes',
            'sessionId',
        ]),
    },
    methods: {
        ...mapActions([
            'init',
        ]),
        select(hero) {
            this.$emit('select', hero);
        },
        buildImageSource(path) {
            return this.isProduction ? '/api/' + path : 'http://localhost:3000/' + path;
        },
    },
    mounted() {
        this.init();
    }
}
</script>

<style lang="css" scoped>
@import '../assets/index.css';

.hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-list .card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    cursor: pointer;
}
.hero-list .card > span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: small;
    line-height: 1;
    background-color: #fff;
    opacity: .75;
}
.hero-list .card img {
    display: inline-block;
    text-align: center;
    /*border: 1px solid #eee;*/
}
.placeholder {
    position: relative;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    width: 80px;
    height: 80px;
    opacity: 0.5;
}
.placeholder:hover {
    opacity: 1;
}
.placeholder div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.placeholder div span {
    color: #7182e7;
}
</style>
