<template>
    <div class="edit-form">
        <div class="control">
            <label for="name">Имя героя</label>
            <input id="name" name="name" type="text" v-model="name"/>
        </div>
        <div class="control">
            <label>Аватар героя
                <input type="file" ref="avatar" accept="image/png" @change="processFile"/>
            </label>
        </div>
        <div class="control">
            <input type="button" :value="selectedHero === null ? 'Создать' : 'Обновить'" v-if="readyToSave" @click="save"/>
        </div>
        <!--<div v-if="selectedHero" class="control">-->
            <!--<input type="button" value="Создать нового" @click="selectedHero = null"/>-->
        <!--</div>-->
        <div v-if="selectedHero" class="control">
            <input type="button" value="Удалить" @click="deleteHero"/>
        </div>
        <div class="control">
            <input type="button" value="Назад" @click="$emit('close')"/>
        </div>
    </div>
</template>

<script>
// import ImageUploadForm from '@/components/ImageUploadForm.vue'
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'HeroEditForm',
    components: {

    },
    data() {
        return {
            id: null,
            name: null,
            file: null,
            readyToSave: false,
        }
    },
    watch: {
        name() {
            // TODO: validate name
            this.readyToSave = !!(this.name && this.file);
        },
        file() {
            this.readyToSave = !!(this.name && this.file);
        },
    },
    computed: {
        ...mapGetters([
            'selectedHero',
        ]),
    },
    methods: {
        ...mapActions([
            'saveHero',
            'deleteHero',
        ]),
        buildImageSource(path) {
            return this.isProduction ? '/api/' + path : 'http://localhost:3000/' + path;
        },
        processFile() {
            if (this.$refs.avatar.files.length) {
                this.file = this.$refs.avatar.files[0];
            } else {
                this.file = null;
            }
            // TODO: process file
        },
        save() {
            const formData = new FormData();
            if (this.id) {
                formData.append('id', this.id);
            }
            formData.append('name', this.name);
            formData.append('avatar', this.file, this.name + '.png');
            this.$store.commit('setHeroData', formData);
            this.saveHero();
        },
    },
    mounted() {
        if (this.selectedHero) {
            this.id = this.selectedHero.id;
            this.name = this.selectedHero.name;
            this.file = null;
        } else {
            this.id = null;
            this.name = null;
            this.file = null;
        }
    }
}
</script>

<style lang="css" scoped>
@import '../assets/index.css';

.edit-form .control {
    margin-bottom: 20px
}

.edit-form .control label {
    display: block;
}
</style>
