.container {
    padding: 20px;
}
input[type=button] {
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    background-color: #7182e7;
    cursor: pointer;
}
input[type=button]:hover {
    color: #7182e7;
    background-color: #fff;
}