<template>
    <div id="nav">
        <router-link
            :class="{ selected: $route.name === 'Heroes' }"
            to="/">
            Герои
        </router-link>
        <router-link
            :class="{ selected: $route.name === 'Battles' }"
            to="/battles">
            Битвы
        </router-link>
        <router-link
            :class="{ selected: $route.name === 'Packs' }"
            to="/packs">
            Подбор пака
        </router-link>
    </div>
    <div id="page">
        <router-view/>
    </div>
</template>

<style lang="css">
@import './assets/index.css';

body, html {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #444;
    user-select: none;
}

#app {
    height: 100vh;
    background-color: #7182e7;
    overflow: auto;
}

#nav {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: #fff;
}

#nav a {
    display: inline-block;
    padding: 12px 36px;
    font-weight: bold;
    color: #7182e7;
    background-color: #fff;
}

#nav a.selected {
    color: #fff;
    background-color: #7182e7;
}

</style>
