<template>
    <div class="battles">
        <div class="edit-form" v-if="sessionId">
            <div class="pack-list" v-if="isHeroListVisible === false">
                <div class="pack" v-for="(pack, type) in packs">
                    <div class="list">
                        <div class="card" v-for="(hero, position) in pack" @click="selectPosition(type, position)">
                            <template v-if="hero">
                                <img :src="buildImageSource(hero.image_path)" :alt="position"/>
                                <span>{{ hero.name }}</span>
                            </template>
                            <template v-else>
                                <div class="position">
                                    <span>{{ position }}</span>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control" v-if="isHeroListVisible === false">
                <!--<label>Скрин битвы-->
                <!--<input type="file" ref="battle_screen" accept="image/png" @change="processFile"/>-->
                <input type="button" value="Добавить" v-if="readyToSave" @click="save"/>
                <!--</label>-->
            </div>
        </div>
        <div class="battle-list list" v-if="isHeroListVisible === false">
            <table>
                <tbody>
                <tr v-for="battle in battles">
                    <template v-for="(position, key, index) in battle">
                        <td v-if="key.includes('position')">
                            <div class="card">
                                <img :src="buildImageSource(getHeroImagePath(position))"/>
                                <span>{{ getHeroName(position) }}</span>
                            </div>
                        </td>
                        <td v-if="index === 5">
                            vs
                        </td>
                    </template>
                    <td v-if="sessionId">
                        <span class="material-icons" @click="remove(battle)">delete_forever</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hero-list v-if="isHeroListVisible" @select="selectHero"/>
    </div>
</template>

<script>
// import ImageUploadForm from '@/components/ImageUploadForm.vue'
import { upload } from '@/services/api/ApiService';
import { mapGetters, mapActions } from 'vuex';
import HeroList from '@/components/HeroList.vue';

export default {
    name: 'Battles',
    components: {
        HeroList,
    },
    data() {
        return {
            id: null,
            file: null,
            packs: {
                positions_1: {
                    1: null,
                    2: null,
                    3: null,
                    4: null,
                    5: null,
                },
                positions_2: {
                    1: null,
                    2: null,
                    3: null,
                    4: null,
                    5: null,
                },
            },
            readyToSave: true,
            selectedPackPosition: null,
            selectedBattle: null,
            selectedHero: null,
            isHeroListVisible: false,
        }
    },
    computed: {
        ...mapGetters([
            'isProduction',
            'heroes',
            'battles',
            'sessionId',
        ]),
    },
    methods: {
        ...mapActions([
            'init',
            'saveBattle',
            'removeBattle',
        ]),
        processFile() {
            if (this.$refs.battle_screen.files.length) {
                this.file = this.$refs.battle_screen.files[0];
            } else {
                this.file = null;
            }
            // TODO: process file
        },
        selectPosition(pack, position) {
            this.selectedPackPosition = {
                pack,
                position,
            };
            this.isHeroListVisible = true;
        },
        selectHero(hero) {
            this.selectedHero = hero;
            this.packs[this.selectedPackPosition.pack][this.selectedPackPosition.position] = hero;
            this.isHeroListVisible = false;
        },
        buildImageSource(path) {
            return this.isProduction ? '/api/' + path : 'http://localhost:3000/' + path;
        },
        save() {
            const data = {};
            if (this.id) {
                data.id = this.id;
            }
            data.packs = this.packs;
            // formData.append('battle_screen', this.file);
            this.$store.commit('setBattleData', data);
            this.saveBattle();
        },
        getHeroImagePath(id) {
            const hero = this.heroes.find(h => h.id === id);
            return hero.image_path;
        },
        getHeroName(id) {
            const hero = this.heroes.find(h => h.id === id);
            return hero.name;
        },
        remove(battle) {
            this.$store.commit('setBattleData', battle );
            this.removeBattle();
        }
    },
    mounted() {
        this.init();
    }
}
</script>

<style lang="css" scoped>
@import '../assets/index.css';

.edit-form {
    text-align: center;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list .card {
    position: relative;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 4px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    cursor: pointer;
}
.list .card > span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: small;
    line-height: 1;
    background-color: #fff;
    opacity: .75;
}
.list .card img {
    display: inline-block;
    text-align: center;
    /*border: 1px solid #eee;*/
}
.material-icons {
    color: #fff;
    cursor: pointer;
}
</style>
