<template>
    <div class="container heroes">
        <template v-if="isContentEditable">
            <hero-edit-form @close="isContentEditable = false"/>
        </template>
        <template v-else>
            <hero-list :pick-only="false" @select="selectHero"/>
        </template>
    </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from 'vuex';
import { upload } from '@/services/api/ApiService';
import HeroList from '@/components/HeroList.vue';
import HeroEditForm from '@/components/HeroEditForm.vue';

export default {
    name: 'Heroes',
    components: {
        HeroList,
        HeroEditForm,
    },
    data() {
        return {
            isContentEditable: false,
        }
    },
    computed: {
        ...mapGetters([
            'sessionId',
        ]),
    },
    watch: {

    },
    methods: {
        ...mapActions([
            'init',
        ]),
        selectHero(hero) {
            if (this.sessionId)  {
                this.$store.commit('setSelectedHero', hero);
                this.isContentEditable = true;
            }
        },
    },
    mounted() {
        this.init();
    }
}
</script>

<style lang="css" scoped>
@import '../assets/index.css';

</style>
