<template>
    <div class="edit-form">
        <div class="control">
            <label>Логин</label>
            <input type="text" v-model="username"/>
        </div>
        <div class="control">
            <label>Пароль</label>
            <input type="password" v-model="password"/>
        </div>
        <div class="control">
            <p class="error">{{ errorMessage }}</p>
            <input type="button" value="Войти" @click="login"/>
        </div>
    </div>
</template>

<script>
// import ImageUploadForm from '@/components/ImageUploadForm.vue'
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'Login',
    data() {
        return {
            username: null,
            password: null,
            errorMessage: null,
        }
    },
    computed: {
        ...mapGetters([
            'loginError',
        ]),
    },
    watch: {
        username() {
            this.$store.state.username = this.username;
        },
        password() {
            this.$store.state.password = this.password;
        },
        loginError(e) {
            if (e.status) {
                this.errorMessage = e.reason;
            }
        },
    },
    methods: {
        ...mapActions([
            'login'
        ]),
    },
    mounted() {

    }
}
</script>

<style lang="css" scoped>
@import '../assets/index.css';

p.error {
    color: red;
}
</style>
