<template>
    <div class="packs">
        <div class="pack">
            <div class="list">
                <div class="card" v-for="(hero, position) in pack" @click="selectPosition(position)">
                    <template v-if="hero">
                        <img :src="buildImageSource(hero.image_path)"/>
                        <span>{{ hero.name }}</span>
                    </template>
                    <template v-else>
                        <div class="position">
                            <span>{{ position }}</span>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <hero-list v-if="isHeroListVisible" @select="selectHero"/>
        <div class="battle-list list" v-if="isHeroListVisible === false">
            <table>
                <tbody>
                <tr v-for="battle in searchedBattles">
                    <template v-for="(position, key, index) in battle">
                        <td v-if="key.includes('position')">
                            <div class="card">
                                <img :src="buildImageSource(getHeroImagePath(position))"/>
                                <span>{{ getHeroName(position) }}</span>
                            </div>
                        </td>
                        <td v-if="index === 5">
                            vs
                        </td>
                    </template>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from 'vuex';
import HeroList from '@/components/HeroList.vue';

export default {
    name: 'Packs',
    components: {
        HeroList,
    },
    data() {
        return {
            pack: {
                1: null,
                2: null,
                3: null,
                4: null,
                5: null,
            },
            isHeroListVisible: false,
            selectedPosition: null,
            selectedHero: null,
            searchedBattles: [],
        }
    },
    computed: {
        ...mapGetters([
            'isProduction',
            'heroes',
            'battles',
        ]),
    },
    watch: {
        // selectedHero(hero) {
        //     if (hero) {
        //
        //     }
        // }
    },
    methods: {
        ...mapActions([
            'init',
        ]),
        buildImageSource(path) {
            return this.isProduction ? '/api/' + path : 'http://localhost:3000/' + path;
        },
        selectPosition(position) {
            this.selectedPosition = position;
            this.isHeroListVisible = true;
        },
        selectHero(hero) {
            this.selectedHero = hero;
            this.isHeroListVisible = false;
            this.pack[this.selectedPosition] = hero;
            this.searchBattle();
        },
        getHeroImagePath(id) {
            const hero = this.heroes.find(h => h.id === id);
            return hero.image_path;
        },
        getHeroName(id) {
            const hero = this.heroes.find(h => h.id === id);
            return hero.name;
        },
        searchBattle() {
            this.searchedBattles = this.battles;
            if (this.pack["1"]) {
                this.searchedBattles = this.searchedBattles.filter(battle => battle.position_6 === this.pack["1"].id);
            }
            if (this.pack["2"]) {
                this.searchedBattles = this.searchedBattles.filter(battle => battle.position_7 === this.pack["2"].id);
            }
            if (this.pack["3"]) {
                this.searchedBattles = this.searchedBattles.filter(battle => battle.position_8 === this.pack["3"].id);
            }
            if (this.pack["4"]) {
                this.searchedBattles = this.searchedBattles.filter(battle => battle.position_9 === this.pack["4"].id);
            }
            if (this.pack["5"]) {
                this.searchedBattles = this.searchedBattles.filter(battle => battle.position_10 === this.pack["5"].id);
            }
        }
    },
    mounted() {
        this.init();
    }
}
</script>

<style lang="css" scoped>
@import '../assets/index.css';

.pack {
    text-align: center;
}
.pack .list {
    display: flex;
    justify-content: center;
}
.pack .list .card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 4px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    cursor: pointer;
}
.pack .list .card .position {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pack .list .card > span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: small;
    line-height: 1;
    background-color: #fff;
    opacity: .75;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list .card {
    position: relative;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 4px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    cursor: pointer;
}
.list .card > span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: small;
    line-height: 1;
    background-color: #fff;
    opacity: .75;
}
.list .card img {
    display: inline-block;
    text-align: center;
    /*border: 1px solid #eee;*/
}
</style>
